@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat&display=swap");

#container-produtos {
    padding-top: 90px;
}

#container-produtos img{
    width: 80%;
    border-radius: 10%;
    transition: 0.4s;
}

#container-produtos img:hover {
    width: 85%;
    transition: 0.4s;
}

#container-produtos .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #nome-produto {
    color: #fff;
    font-family: 'Montserrat';
    margin-top: 10px;
  }

  #btn-lance {
    background: transparent;
    border: 2px solid #F4DB33;
    padding: 5px;
    border-radius: 5px;
    transition: 0.4s;
    color: #F4DB33;
  }

  #btn-lance:hover {
    background-color: #F4DB33;
    color: black;
    transition:0.4s;
}

#imagem-prod {
  margin-top: 100px;
  width: 80%;
  border-radius: 10%;
}

#texto-prod {
  margin-top: 120px;
  margin-left: -100px;
}

#linha-tabela{
  text-align: left;
  color: black;
  padding: 10px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  background-color: #F4DB33;
}

#tabela-produto th{
  border-left: none;
}

#tabela-produto {
  box-shadow: 0 0 0 0.7px black;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}


#botao-prod {
  margin-top: 100px;
  background-color: #F4DB33;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

#valor {
  margin-top: 10px;
  padding: 6px;
  background-color: #406cf1;
  border: none;
  border-radius: 8px;
  transition:all 0.4s;
}

#valor:hover {
  transition:all 0.4s;;
  padding: 10px;
  padding-right: 50px;
}

#texto-dar-lance{
  margin-top: 10px;
}
#texto-retirada{
  margin-top: 50px;
}

.fonte{
  font-size: medium;
}
#botao-lance{
  background-color: #406cf1;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  border: none;
  transition: 0.4s;
}

#botao-lance:hover {
  transition: 0.4s;
  background-color: #003df5;
}

.alert {
  display: none;
  width: 100%;
  max-width: 400px; 
  margin: 0 auto;
  z-index: 9999; 
  background-color: #F4DB33;
  color: #fff;
}



.alert-success {
  background-color: #F4DB33; 
  color: #fff
}

.tabela-lance #tabelas-lances {
  border-collapse: collapse;
  background-color:#003df5;
}

@media (max-width: 768px) {
  
  
  #div-img-prod {
    text-align: center;
  }

  #texto-prod {
    text-align: center;
    margin-left: 110px;
    margin-top: 50px;
  }

  #botao-prod {
    text-align: center;
    margin-left: 50px;
  }

}

.redes-sociais a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
  margin-right: 1px;
  padding: 0px;
}

.redes-sociais a:hover {
  color: #00f;
}


* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
  background-color: #F4DB33;
  text-align: center;
  height: 119px;
}