@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat&display=swap");

#container-produtos {
    padding-top: 90px;
}

#container-produtos img{
    width: 80%;
    border-radius: 10%;
    transition: 0.4s;
}

#container-produtos img:hover {
    width: 85%;
    transition: 0.4s;
}

#container-produtos .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #nome-produto {
    color: #fff;
    font-family: 'Montserrat';
    margin-top: 10px;
  }

  #btn-lance {
    background: transparent;
    border: 2px solid #F4DB33;
    padding: 5px;
    border-radius: 5px;
    transition: 0.4s;
    color: #F4DB33;
  }

  #btn-lance:hover {
    background-color: #F4DB33;
    color: black;
    transition:0.4s;
}

#imagem-prod {
  margin-top: 100px;
  width: 80%;
  border-radius: 10%;
}

#texto-prod {
  margin-top: 200px;
  margin-left: -100px;
}

#linha-tabela{
  text-align: left;
  color: black;
  padding: 10px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  background-color: #F4DB33;
}

#tabela-produto th{
  border-left: none;
}

#tabela-produto {
  box-shadow: 0 0 0 0.7px black;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}


#botao-prod {
  margin-top: 100px;
  background-color: #F4DB33;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}

#valor {
  margin-top: 10px;
  padding: 6px;
  background-color: #406cf1;
  border: solid 0.6px;
  border-radius: 8px;
  transition:all 0.4s;
}

#valor:hover {
  transition:all 0.4s;;
  padding: 10px;
  padding-right: 50px;
}

#texto-dar-lance{
  margin-top: 10px;
}
#texto-retirada{
  margin-top: -190px;
  margin-left: 855px;
  
}

.fonte{
  font-size: medium;
}
#botao-lance{
  background-color: #406cf1;
  border-radius: 5px;
}